/** {
    margin: 0;
    padding: 0;
}*/
html, body {
    width: 100%;
    height: 100%;
    /*margin: 0;
    padding: 0;*/
    font-family: "freight-text-pro",Georgia,Cambria,serif;
    background-color: #E6E6FA;
    overflow-x: hidden;
}
body {
    background-image: url(../img/sb.jpg);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

#main {
    height: 100%;
    width: 100%;
    /*display: inline;*/
}
h1 {
    position: relative;
    border-radius: 25px;
    background-color: green;
    color: white;
    height: 40px;
    font-size: 24px;
    font-weight: normal;
    left: 0;
    line-height: 40px;
    text-align: center;
    top: 0;
    z-index: 1;
}
h1 a {
    border: 1px solid white;
    width: 70%;
    color: white;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
}
.photo {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}


#panel {
        background-color: rgba(200,200,200,0.6);
	display: inline-table;
	float: center;
	position: relative;
	width: 100%;
	height: 10%;
	border: 1px grey solid;
	top: 0px;
	left: 1px;
	right: 1px;
    }
    #post {
	float: center;
	width: 100%;
	display: block;
	position: relative;
	overflow-y: auto;
    }
    .content {
	padding: 10px;
	background-color: rgba(200,200,200,0.6);
	width: 70%;
	margin-left: auto;
	margin-right: auto;

	text-align: justify;
	font-size: 18px;
	position: relative;
    }
    .panel-item {
	display: table-cell;
	float:center;
	vertical-align: middle;
	font-size: 32px;
	padding-left: 10%;
	position: relative;
	width: 15%;
	height: 15%;
    }
    .img-item {
	margin-left: 15%;
	top: 15%;
	width: 32px;
	height: 32px;
    }

.photo span {
    bottom: 0;
    color: white;
    display: inline-block;
    padding-left: 25%;
    font-size: 60px;
    text-shadow: 0 2px 0 black, 0 0 10px black;
}
a {
    text-decoration: none;
    color: green;
    padding: 3px;
}

a:hover {
    border: 1px solid grey;
    padding: 3px;
}




ul {
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

li, p {
    padding-top: 15px;
    padding-bottom: 15px;
}


h2 {
    padding-top: 7px;
    padding-bottom: 7px;
}

#feed {
    width: 35%;
}

a img:hover {
    border: 1px solid grey;
    padding: 3px;
}

.non-hover {
    border:none!important;
}

pre {
    border-radius: 25px;
    padding: 12.5px;
}
.cookie-bar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: linear-gradient(lighten(red, 10%), darken(red, 10%));
  color: white;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  transition: .8s;
  animation: slideIn .8s;
  animation-delay: .8s;
  .message {
    white-space: nowrap;
    text-shadow: 0 1px 0 darken(red, 10%);
    @media (max-width: 767px){
      display: none;
    }
  }
  .mobile {
    display: none;
    @media (max-width: 767px){
      display: inline-block;
    }
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.close-cb {
  border: none;
  color: white;
  background: darken(red, 20%);
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background: darken(red, 10%);
  }
}
.checkbox-cb {
  display: none;
  &:checked + .cookie-bar {
    transform: translateY(-50px);
  }
}
