<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width,initial-scale=1" />
    $if(image)$
      <meta property="og:image" content="/img/$image$" />
    $endif$
    <title>[ Andre's Blog ] &rarr; [ $title$ ]</title>
    <link rel="stylesheet" type="text/css" href="/css/y.css"/>
  </head>
  <body>
    <input name=t type=radio id=d checked />
    <div class=dd >
      <div class=cu ><h1>Andrey Prokopenko's Blog</h1></div>
      <div id=content >
        <nav >
          <a href="/" >Home</a>
          |
          <a href="/about.html">About</a>
          |
          <a href="/contact.html">Contact</a>
          |
          <a href="/feed.xml">RSS</a>
        </nav>
        $body$
      </div>
    </div>
  </body>
</html>
