<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="dark red">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[ Andre's Blog ] &rarr; [ $title$ ]</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.stellar.min.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="panel">
	<div class="panel-item">
	  <a href="/">Блог</a>
	</div>
	<div class="panel-item">
	  <a href="/about.html">Обо мне</a>
	</div>
	<div class="panel-item">
	  <a href="/contact.html">Контакты</a>
	</div>
	<div class="panel-item">
	  <a href="/feed.xml" class="non-hover"><img id="feed" src="/img/feed-icon.svg"/></a>
	</div>
      </div><div id="post">
      $body$
    </div>
    </div>
  </body>
</html>
