  <div class="photo header" data-stellar-background-ratio="0.5" style="background-image: url(/img/$image$);">
    <span>$title$</span>
  </div>
  <br/>
  <br/>
  <div class="content">
    $body$
    <br/>
    <div class="corps" id="comment">
      <div class="tags">Tags: $tags$</div>
      <h2 class="first">Комментарии</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">var disqus_shortname = 'anproorg'; var disqus_identifier = '$url$'; (function() { var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();</script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
  <div class="info">
      Posted on $date$
    $if(author)$
    by $author$
    $endif$. Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a>
  </div>
